<ion-view title="Recover Password">

<div class="bar bar-subheader bar-dark" id="subtitle">
  <h2 class="title">Recover Password</h2>
</div>

    <ion-content class="padding has-subheader">
        <form name="recoverpass_form">
            <div class="item item-input-inset"> 
                <!-- ********************************************************** -->
                <!-- Email -->
                <!-- ********************************************************** -->
                <label class="item-input-wrapper">
                    <input 
                        name="u_email"
                        type="email"
                        ng-model="user.email" 
                        placeholder="Email"
                        ng-maxlength=40 
                    >
                </label>

                <div class="error" ng-show="recoverpass_form.u_email.$dirty && recoverpass_form.u_email.$invalid">
                    <small class="error" ng-show="recoverpass_form.u_email.$error.email" style="color: red;">
                        Invalid email.
                    </small>
      
                    <small class="error" ng-show="recoverpass_form.u_email.$error.maxlength" style="color: red;">
                        Must have less than 40 characters.
                    </small>
                </div>

                <!-- ********************************************************** -->
                <!-- Button Recover -->
                <!-- ********************************************************** -->
                <button class="button button-calm" ng-click="Recoverpass()" type="submit">
                    Send
                </button>
            </div>
        </form>
    </ion-content>
</ion-view>