<ion-view title="Settings">
    <ion-content>
        <h1 class="title">Profile</h1>
        <div class="list card">

            <div class="item item-avatar">
                <img src="img/taxi_driver.png">
                <label class="item item-input">
                    <span class="input-label">Name:</span>
                    Jack Johnson
                </label>
            </div>

            <div class="item item-body">
                <label class="item item-input">
                    <span class="input-label">Phone:</span>
                    0000-0000000
                </label>
                <label class="item item-input">
                    <span class="input-label">Email:</span>
                    jack@johnson.com
                </label>
                <label class="item item-input">
                    <span class="input-label">Car:</span>
                    2014 Toyota Corolla
                </label>
                <label class="item item-input">
                    <span class="input-label">Plate No:</span>
                    XXXXXX
                </label>
            </div>

        </div>
        <button ng-click="modal.show()" class="button icon-left ion-edit button-block button-calm">
            Edit Profile
        </button>

    </ion-content>

</ion-view>